@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: outfit;
}
.slider {
  -webkit-appearance: none;
  height: 100%;
  background: transparent;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  min-height: 30px;
  background-image: url(../public/slide_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-layer {
  background-image: url(../public/bg_layer.png);
}
